@charset "utf-8";  /* 2017.06.06 */

#toTop {
  display: none;
  cursor: pointer;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #000;
  font-size: 50px;
  line-height: 55px;
  background: #fff; /* #565a5f; */
  opacity: 0.85;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 220px;
  position: fixed;
}

@media screen and (min-width: 560px) and (max-width: 799px) {
  #toTop {
    width: 52px;
    height: 52px;
    font-size: 34px;
    line-height: 52px;
    bottom: 20px;
  }
}
@media screen and (max-width: 559px) {
  #toTop {
    width: 48px;
    height: 48px;
    font-size: 32px;
    line-height: 48px;
    bottom: 20px;
  }
}

.popular-posts h2{
  font-size: 1.5em;
  font-style: italic;
}
.popular-posts a{
  font-size: 1.3em;
  text-decoration: none;
  color: #0064FF;
  font-weight: none;
}

.popular-posts a:hover{
  text-decoration: none;
  color: #FF0040;
}